*{
    padding: 5px;
    margin: 5px;
}

.conteiner{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: azure;
    border-radius: 100px;
}
.tela{
    background-color: darkgoldenrod;
    margin: 30px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 9px 0px 8px 0px ;
}

h1, p{
    text-align: center;
    margin-bottom: auto;

}
img{
    height: 225px;
    width: 225px;
}
body{
    background-color: bisque;

}
a{
    text-decoration: dotted;
}

span{
    background-color: brown;
    border-radius: 5px;
    padding: 5px;
}

span :hover{
    color: blue;
    background-color: azure;
}